<div class="row" id="nav_links">
<div class="col-md-12">
<h1 id="quote">"It's not about the destination,it's about the journey and what it took to get you there!"</h1>
</div>
  <div class="col-md-2">
      <%= image_tag "climb19.png", :class => "image_15" %>
  </div>
  <div class="col-md-4" id="entire_conversation">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'messages' %>
      </div>
      <div class="panel-footer">
        <!-- Reply Form -->
        <div class="form-group">
        <%= link_to "Compose", new_conversation_path, class: "btn btn-success pull-right" %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
    <div class="col-md-2">
      <%= image_tag "climb13.png", :class => "image_13" %>
    </div>
</div>
<div class="row" id="nav_links">
  <div class="col-md-2">
      <%= image_tag "climb2.png", :class => "image_17" %>
  </div>
  <div class="col-md-4">
  </div>

    <div class="col-md-2">
      <%= image_tag "climb15.png", :class => "image_16" %>
    </div>
</div>
