<div class="row" id="nav_links">
	<div class="col-md-12">
		<center><h1 class="user_profile_name"><%= @user.name %></h1></center>
		<div class="col-md-5">
	    <%= image_tag(@user.image, :height => 400, :width => 400) %> 
	    </div>
	    <br/>
	    <h3 class="gym">I climb at <%= @user.gym %></h3>
	    <h3 class="gym">When I climb at the gym I mostly, </h3>
	    <h3 class="gym">top rope: <%= @user.top_rope %></h3>
	    <h3 class="gym">lead: <%= @user.lead %></h3>
	    <h3 class="gym">boulder: <%= @user.boulder %></h3>
		<%= link_to "Message", new_conversation_path, :class => "message" %>
    </div>
</div>
<%= link_to "Back", :back, :class => "submit" %>


