<div class="container">
	<div class="row">
			<h1><%= @user.name %></h1>
        <img id="profile-photo" class="circle responsive-img" src="http://placehold.it/250x250">

	</div>
</div>

<div class="container">
    <%= link_to "Edit Profile", edit_user_registration_path, :method => :get, class: "btn btn-default"%>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <h2>Which gym do you climb at?</h2>
  <hr/>
  <div class="row">
  <div class="col-lg-4">
    <div class="field">
        <%= f.radio_button(:gym, "gym1") %>
        <%= f.label(:gym, "Planet Granite") %>
      <br/>
    </div>
    <div class="field">
        <%= f.radio_button(:gym, "gym2") %>
        <%= f.label(:gym, "Mission Cliffs") %>
      <br/>
    </div>
    <div class="field">
        <%= f.radio_button(:gym, "gym3") %>
        <%= f.label(:gym, "Dogpatch") %>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
    <h2>Choose Your Skill Level</h2>
    <hr/>

    <div class="row">
      <div class="col-lg-4">
        <h3>Top Rope</h3>
          <select id="slct1" class="browser-default" onchange="populate(this.id, '">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">5.8</option>
            <option value="2">5.9</option>
            <option value="3">5.10a</option>
            <option value="3">5.10b</option>
            <option value="3">5.10c</option>
            <option value="3">5.10d</option>
            <option value="3">5.11a</option>
            <option value="3">5.11b</option>
            <option value="3">5.11c</option>
            <option value="3">5.11d</option>
          </select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h3>Lead</h3>
          <select id="slct1" class="browser-default" onchange="populate(this.id, '">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">5.8</option>
            <option value="2">5.9</option>
            <option value="3">5.10a</option>
            <option value="3">5.10b</option>
            <option value="3">5.10c</option>
            <option value="3">5.10d</option>
            <option value="3">5.11a</option>
            <option value="3">5.11b</option>
            <option value="3">5.11c</option>
            <option value="3">5.11d</option>
          </select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h3>Boulder</h3>
          <select class="browser-default">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">v0</option>
            <option value="2">v1</option>
            <option value="3">v2</option>
            <option value="3">v3</option>
            <option value="3">v4</option>
            <option value="3">v5</option>
            <option value="3">v6</option>
            <option value="3">v7</option>
            <option value="3">v8</option>
            <option value="3">v9</option>
          </select>
      </div>
    </div>
  </div>
</div>
<% end %>