<div class="container">
	<div class="row" id="row1">
		<div class="col-md-3">
			<%= image_tag "climb1.png", :class => "image_1" %>
		</div>
		<div class="col-md-3">
			<%= image_tag "climb2.png", :class => "image_2" %>
		</div>
		<div class="col-md-3">
			<%= image_tag "climb3.png", :class => "image_3" %>
		</div>
		<div class="col-md-3">
			<%= image_tag "climb4.png", :class => "image_4" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<%= image_tag "climb5.png", :class => "image_5" %>
		</div>
		<div class="col-md-5">
			<h3 id="title">Climb With Me</h3>
			<h5 id="tag_line">Meet your new climbing buddy!</h5>
		</div>
		<div class="col-md-3">
			<%= image_tag "climb6.png", :class => "image_6" %>
		</div>
	</div>
	<div class="row" id="row1">
		<div class="col-md-3">
			<%= image_tag "climb7.png", :class => "image_7" %>
		</div>
		<div class="col-md-3">
			<%= image_tag "climb8.png", :class => "image_8" %>
		</div>
		<div class="col-md-3">
			<%= image_tag "climb9.png", :class => "image_9" %>
		</div>
		<div class="col-md-3">
			<%= image_tag "climb10.png", :class => "image_25" %>
		</div>
	</div>
</div>
