<!DOCTYPE html>
<html>
  <head>
    <title>Climb With Me</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  </head>

  <body>
  <nav class="black">
    <div id="user_nav">
      <div class="nav-wrapper grey-text text-lighten-4 right">

        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
            <%= form_for(:user, :url => session_path(:user), html: { class: "navbar-form navbar-right form-inline" }) do |f| %>
                    <div class="form-group">
                      <%= f.text_field :email, :placeholder => "Email", class: "form-control" %> 
                    </div>
                    <div class="form-group">
                      <%= f.password_field :password, :placeholder => "Password", class: "form-control"  %>
                    </div>
                    <div class="checkbox">
                      <%= f.check_box :remember_me %><%= f.label :remember_me %>
                    </div>
                    <%= f.submit 'Login', class: "btn btn-default" %>
            <% end %>
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </nav> 

 <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %> 

    <%= yield %>

  </body>
</html>
