<!--  <script type="text/javascript">
  function populate(s1, s2){
    var s1 = document.getElementById(s1); 
    var s2 = document.getElementById(s2);
    s2.innerHTML = "";
    if(s1.value == "top-rope") {
      var optionArray = ["|", "5.8|5.8", "5.9|5.9","5.10a|5.10a","5.10b|5.10b","5.10c|5.10c","5.10d|5.10d", "5.11a|5.11a", "5.11b|5.11b", "5.11c|5.11c", "5.11d|5.11d", "5.12a|5.12a", "5.12b|5.12b", "5.12c|5.12c", "5.12d|5.12d", "5.13a|5.13a", "5.13b|5.13b"];
    }
    if(s2.value == "lead") {
      var optionArray = ["|", "5.8|5.8", "5.9|5.9","5.10a|5.10a","5.10b|5.10b","5.10c|5.10c","5.10d|5.10d", "5.11a|5.11a", "5.11b|5.11b", "5.11c|5.11c", "5.11d|5.11d", "5.12a|5.12a", "5.12b|5.12b", "5.12c|5.12c", "5.12d|5.12d", "5.13a|5.13a", "5.13b|5.13b"];
    } 
    if(s3.value == "boulder") {
      var optionArray = ["|", "v0|v0", "v1|v1","v2|v2", "v3|v3", "v4|v4","v5|v5", "v6|v6", "v7|v7", "v8|v8"];
    }
    for(var option in optionArray){
      var pair = optionArray[option].split("|");
      var newOption = document.createElement("option");
      newOption.value = pair[0];
      newOption.innerHTML = pair[1];
      s2.options.add(newOption);
    }
  }
</script> -->
<div class="container">
  <div class="row">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for @user, html: { method: :put } do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  <br/>
  <div class="row">
    <div class="actions">
      <%= f.submit "Update", class: "btn btn-default" %>
    </div>
  </div>
  <% end %>

<%= link_to "Back", :back %>



